<div class="container">
    <hr>
    <h1 id= "head" style="text-align: center">MyQuotes</h1>
    <hr>
    <div class="row">
        <div class="col-md-6">
            <ul>
                <div *ngFor='let quote of quotes ;let i = index'>
                    <li>{{quote.description}}</li>
                    <button (click)='toggleDetails(i)'>Toggle Details</button>
                    <app-quotes-details *ngIf='quote.showDescription' [quote]='quote'
                        (isComplete)='deleteQuote($event,i)'></app-quotes-details>

                </div>
            </ul>
        </div>

        <div class="col-md-6">
            <app-quotes-form (addQuote)="addNewQuote($event)"></app-quotes-form>
        </div>
    </div>


    <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAMgAAADICAMAAACahl6sAAAAYFBMVEVCZ7L8/P3////P1OSqtNN8jsHr7fPT1+aMm8aFlcTc3+v5+vvW2ujFy9/v8PVGabNXc7Z0h77j5e9Zdbegq86wuNXKz+K2vthgerhObrRfebiVosr19flrgbt5i8C9xNt4biEVAAAB9klEQVR4nO3beW+CMBiA8bUgRykgIF54fP9vOSUc85guMR173fP7Z1lpo08MZ/TjAwAAAAAAAAAAAAAAAAAAAAAAAPgfIu9l0dQNrVq/rJ66oeVrrV6ilT91Q8tXhBDiBCGEOEIIIY78PKS9HOn+6PF6QFjI6Y1npfWWabr0QmvKYCczRKudWTX7/Lwir4q4qU2/TlSIVsHqsN6Mqzb7VGKIVqW/vly2OYoMCfz51bKtxBC9S9fXy2SGlLc3syJD1HJzs6ySGLJbXazIz7byjlqnQ9ZimH0+hSzOfCswxDT95Mo3WScZt4sJsf2+Pm/K8SGQwJAw7uYWaXI7WWJIbN8kJDKEuPdtyLhb2zFECdzZk45KvCHEJsOwlMOvzuygLrq5s2PYj4VlIiTERHGv6K/hq8MwFh8TGWd27T1ZVwu5RNHh9a3UpWL5JiGNlIcPz0LqbJgpOiRPxRx+vdu7wi/WoZQT4uNPJI9KMSGmiXqHqptbzbqR5phJCVHDmd3Y1XhmP/3XjgWJkhLy5Y2+89WvpJC3+UQImQghhDhCCCGOEEKII4QQ4gghhDhCCCGO/OD3I8MXBqLy7va/8fuRRZAFD2VBOuvmxt6dyVmwePgCv2U7e2rfP8+eF3e3bycNAAAAAAAAAAAAAAAAAAAAAAAAAPB/fQLmlCiG/Dd3PwAAAABJRU5ErkJggg==">
</div>


   