<div>
    <hr>
    <h1 id= "head" style="text-align: center">MyQuotes</h1>
    <hr>
    <div class="row">
        <div class="col-md-6">
            <ul>
                <div *ngFor='let quote of quotes ;let i = index'>
                    <li>{{quote.description}}</li>
                    <button (click)='toggleDetails(i)'>Toggle Details</button>
                    <app-quotes-details *ngIf='quote.showDescription' [quote]='quote'
                        (isComplete)='deleteQuote($event,i)'></app-quotes-details>

                </div>
            </ul>
        </div>

        <div class="col-md-6">
            <app-quotes-form (addQuote)="addNewQuote($event)"></app-quotes-form>
        </div>
    </div>


   